@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Black.ttf');
    src: url('./Poppins/Poppins-Bold.ttf');
    src: url('./Poppins/Poppins-ExtraBold.ttf');
    src: url('./Poppins/Poppins-ExtraLight.ttf');
    src: url('./Poppins/Poppins-Light.ttf');
    src: url('./Poppins/Poppins-Medium.ttf');
    src: url('./Poppins/Poppins-SemiBold.ttf');
    src: url('./Poppins/Poppins-Thin.ttf');
    src: url('./Poppins/Poppins-Regular.ttf');
    }
@font-face {
    font-family: 'Miju';
    src : url('./Miju/Miju.otf')
}