@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Miju';
  src: url('/fonts/Miju.otf');
 }
 @font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf');
 } */

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins';
  @apply bg-slate-100
}

.dark body{
  @apply bg-slate-900
}
